textarea {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
            width:100%;
}
.fullwidth{
	width:100%;
}
/* remove padding and scrolling from elements that contain an Accordion OR a content-div */
  .ui-layout-center , /* has content-div */
  .ui-layout-west , /* has Accordion */
  .ui-layout-east , /* has content-div ... */
  .ui-layout-east .ui-layout-content {
    /* content-div has Accordion */
padding: 0;
overflow: hidden;
  }
  .ui-layout-center P.ui-layout-content {
line-height:  1.4em;
margin:     0;
    /* remove top/bottom margins from <P> used as content-div */
  }
  h3, h4 {
    /* Headers & Footer in Center & East panes */
font-size:    1.1em;
background:   #EEF;
border:     1px solid #BBB;
border-width: 0 0 1px;
padding:    7px 10px;
margin:     0;
  }
  .ui-layout-east h4 {
    /* Footer in East-pane */
font-size:    0.9em;
font-weight:  normal;
border-width: 1px 0 0;
  }